$font-family: 'Roboto', sans-serif;
$font-fm-second: 'Noto Serif', sans-serif;

//color 
$white: #fff;
$white-tint: #FBFBFB;
$black: #000;
$gray: #707070;
$color-dots: #C9C9C9;
$light-gray: #E4E4E4;
$color-footer-text: #828282;
$border-color: #D9D9D9;
$bg-cards: #FBFBFB;


@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin transform ($property) {
    transform: $property;
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
}

@mixin transition ($property) {
    transition: $property;
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
}

@mixin animate ($property) {
    animation: $property;
    -webkit-animation: $property;
}

html {
    font-size: 18px;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: $font-family;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-fm-second;
    font-weight: 700;
}

img {
    max-width: 100%;
    @include transition(transform .3s);
}

iframe {
    width: 100%;
    height: 100%;
}

a:hover {
    @include transition( .4s ease);
}

input {
    border: none;
    @include border-radius(0);
    font-size: .9rem;
    color: $black;
    &[type='search']::placeholder,
    &[type='text']::placeholder {
        font-size: .74rem;
        color: $color-footer-text;
    }

}

//style preloader
.dws-progress-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
   }
   .progress-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-family: $font-fm-second;
    font-weight: 700;
    color: $black;
   }
   #preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: $white;
   }
//style preloader end

.btn-border-white {
    border: 1px solid $white;
    display: block;
    text-align: center;
}

.btn-border-black {
    border: 1px solid $black;
    display: block;
    text-align: center;
    @include transition (.3s);
    color: $black;
    &:hover {
        background-color: $black;
        color: $white;
    }
    &.active {
        background-color: $black;
        border: 1px solid $black;
        color: $white;
    }
}

.btn-black {
    background-color: $black;
    border: 1px solid $black;
    display: block;
    text-align: center;
    @include transition (.3s);
    color: $white;
    &:hover {
        background-color: $white;
        color: $black;
    }
}

.title-section {
    font-size: 1.9rem;
    font-weight: 400;
}

.mb-120{
    margin-bottom: 5.2rem;
}

.slick-counter {
    color: $black;
    width: 3.2rem;
    height: auto;
    position: absolute;
    bottom: .2rem;
    right: 7.8rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    .current {
        display: inline-block;
        padding-bottom: 1rem;
    }
    .total {
        font-size: 1.2rem;
        padding-top: 1rem;
        display: inline-block;
        position: relative;
        &::before {
            content: '';
            width: 40px;
            border-bottom: 1px solid $black;
            position: absolute;
            top: 40%;
            right: 68%;
            @include transform(rotate(145deg));
        }
    }
}

.slick-prev,
.slick-next {
    top: auto;
    bottom: 0;
    display: block;
    width: 3.3rem;
    height: 3.3rem;
    border: 1px solid $black;
    right: 0;
    @include transform(translate(0));
    color: $black;
    @include transition(.3s);
    &::before {
        content: '\f105';
        font-family: 'FontAwesome';
        font-size: 1.4rem;
        color: inherit;
    }
    &:hover,
    &:focus {
        background-color: $black;
        color: $white;
    }
}

.slick-prev {
    left: auto;
    right: 3.3rem;
    border-right: none;
    &::before {
        content: '\f104';
    }
}

.social-link {
    &__item {
        display: inline-block;
        margin-left: 1.7rem;
        &:first-child {
            margin-left: 0;
        }
    }
}

//path-page
.path-page {
    color: $color-footer-text;
    font-size: 0.7rem;
    padding: 1.7rem 0 3.9rem;
    &__link {
        color: inherit;
        position: relative;
        transition: all 0.2s;
        z-index: 1;
        &::after {
            content: '/';
            padding-left: 10px;
        }
        &:hover {
            color: $black;
        }
    }
    &__item {
        color: $color-dots;
        display: inline-block;
        padding-left: 4px;
    }
}

//text in tow columns 
.text-tow-columns {
    -webkit-column-width: 26rem;
    -moz-column-width: 26rem;
    column-width: 26rem;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 9rem;
    -moz-column-gap: 9rem;
    column-gap: 9rem;
    >p {
        margin: 0;
    }
}

// slider image
.slider-image {
    padding-bottom: 5rem;
    &__items {
        width: 100%;
    }
}

// second menu 
.second-menu {
    position: relative;
    margin-top: 2.6rem;
    &__menu {
        display: flex;
        justify-content: space-around;
        padding: 1.5rem 0;
        margin-bottom: 4.3rem;
        >.btn-border-black {
            width: 13rem;
            height: 2.9rem;
            padding: .6rem 0;
        }
    }
    &::after,
    &::before {
        content: '';
        width: 100%;
        border-top: 1px solid $border-color;
        position: absolute;
        left: 0;
        top: 0;
    }
    &::after {
        top: 5.9rem;
    }
    &__btn {
        position: relative;
        cursor: pointer;
        >span {
            width: 100%;
            display: block;
        }
    }
    &__dropdown {
        position: absolute;
        top: 100%;
        margin-top: 1px;
        left: -1px;
        width: calc(100% + 2px);
        padding: 1.1rem 0;
        border: 1px solid $light-gray;
        text-align: left;
        font-size: .74rem;
        z-index: 10;
        background-color: $white;
        display: none;
        a {
           color: $black; 
           padding: 0 1.3rem 0.5rem 1.3rem;
           width: 100%;
           display: block;
        }
    }
}

.past-date {
    color: $white;
    background-color: $black;
    font-size: .55rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 2.4rem;
    width: 2.4rem;
    @include border-radius(50%);
    position: absolute;
    right: 1.1rem;
    top: -1.2rem;
    line-height: .65rem;
    >span {
        font-weight: 700;
        font-size: .74rem;
        font-family: $font-fm-second;
    }
}

.article {
    position: relative;
    margin-bottom: 4.3rem;
    &__img {
        width: 100%;
        overflow: hidden;
        margin-bottom: 1.08rem;
        align-items: center;
        justify-content: center;
        >img {
            width: 100%;
        }
        &:hover {
            img {
                @include transform(scale(1.08));
            }
        }
    }
    &__title {
        font-size: 0.91rem;
        margin-bottom: 0.4rem;
    }
    &__desc {
        font-size: 0.74rem;
        margin-bottom: 1.08rem;
        p {
            margin: 0;
        }
    }
    &__link {
        color: $black;
        font-size: .7rem;
        &:hover {
            text-decoration: underline;
        }
    }
}

.site-map {
    margin-top: 2rem;
    &__title {
        font-size: 0.9rem;
        margin-bottom: 0.6rem;
    }
    &__items {
        margin: 0.8rem 0;
        >ul {
            list-style-type: disc;
            li {
                color: $color-footer-text;
            }
        }
        ul {
            margin-left: 1.4rem;
            font-size: .8rem;
        }
    }
    a {
        color: $color-footer-text;
        &:hover {
            color: $black;
        }
    }
}