$font-family: 'Round Pro', sans-serif;
$font-fm-second: 'Noto Serif', sans-serif;
//color 
$white: #fff;
$black: #000;
$gray: #707070;
$color-dots: #C9C9C9;
$light-gray: #E4E4E4;
$color-footer-text: #828282;
$border-color: #D9D9D9;
$bg-cards: #FBFBFB;


@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin transform ($property) {
    transform: $property;
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
}

@mixin transition ($property) {
    transition: $property;
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
}

@mixin animate ($property) {
    animation: $property;
    -webkit-animation: $property;
}

html {
    font-size: 18px;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: $font-family;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-fm-second;
    font-weight: 700;
}

img {
    max-width: 100%;
    @include transition(transform .3s);
}

iframe {
    width: 100%;
    height: 100%;
}

a:hover {
    @include transition( color .3s);
}

.btn-border-white {
    border: 1px solid $white;
    display: block;
    text-align: center;
}

.btn-border-black {
    border: 1px solid $black;
    display: block;
    text-align: center;
    @include transition (.3s);
    color: $black;
    &:hover {
        background-color: $black;
        color: $white;
    }
    &.active {
        background-color: $black;
        border: 1px solid $black;
        color: $white;
    }
}

.btn-black {
    background-color: $black;
    border: 1px solid $black;
    display: block;
    text-align: center;
    @include transition (.3s);
    color: $white;
    &:hover {
        background-color: $white;
        color: $black;
    }
}

.title-section {
    font-size: 1.9rem;
    font-weight: 400;
}

.mb-120{
    margin-bottom: 5.2rem;
}

.slick-counter {
    color: $black;
    width: 3.2rem;
    height: auto;
    position: absolute;
    bottom: .2rem;
    right: 7.8rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    .current {
        display: inline-block;
        padding-bottom: 1rem;
    }
    .total {
        font-size: 1.2rem;
        padding-top: 1rem;
        display: inline-block;
        position: relative;
        &::before {
            content: '';
            width: 40px;
            border-bottom: 1px solid $black;
            position: absolute;
            top: 40%;
            right: 68%;
            @include transform(rotate(145deg));
        }
    }
}

.slick-prev,
.slick-next {
    top: auto;
    bottom: 0;
    display: block;
    width: 3.3rem;
    height: 3.3rem;
    border: 1px solid $black;
    right: 0;
    @include transform(translate(0));
    color: $black;
    @include transition(.3s);
    &::before {
        content: '\f105';
        font-family: 'FontAwesome';
        font-size: 1.4rem;
        color: inherit;
    }
    &:hover,
    &:focus {
        background-color: $black;
        color: $white;
    }
}

.slick-prev {
    left: auto;
    right: 3.3rem;
    border-right: none;
    &::before {
        content: '\f104';
    }
}

.social-link {
    &__item {
        display: inline-block;
        margin-left: 1.7rem;
        &:first-child {
            margin-left: 0;
        }
    }
}

//path-page
.path-page {
    color: $color-footer-text;
    font-size: 0.7rem;
    padding: 1.7rem 0 3.9rem;
    &__link {
        color: inherit;
        position: relative;
        transition: all 0.2s;
        z-index: 1;
        &::after {
            content: '/';
            padding-left: 10px;
        }
        &:hover {
            color: $black;
        }
    }
    &__item {
        color: $color-dots;
        display: inline-block;
        padding-left: 4px;
    }
}

//text in tow columns 
.text-tow-columns {
    -webkit-column-width: 26rem;
    -moz-column-width: 26rem;
    column-width: 26rem;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 9rem;
    -moz-column-gap: 9rem;
    column-gap: 9rem;
    >p {
        margin: 0;
    }
}

// slider image
.slider-image {
    padding-bottom: 5rem;
    &__items {
        width: 100%;
    }
}