@media only screen and (min-width: 1781px) {
    html {
        font-size: 23px;
    }
    .container {
        max-width: 1750px;
    }
    .catalog {
        >.container {
            max-width: 1460px;
        }
    }
}

@media only screen and (max-width: 1780px) {
    .menu {
        &__item {
            margin-right: 2.5rem;
        }
    }
    .group-box {
        .search {
            margin-right: 0.5rem;
        }
    }
    .tabs-content {
        height: 480px;
    }
    .choose-door {
        &__block {
            padding: 2.2rem 5rem;
        }
        &__img {
            right: 3.4rem;
        }
    }
    .suggestions__item {
        height: 35.1rem;
    }
    .additional-suggestions {
        &__title {
            width: 100%;
        }
    }

    .text-tow-columns {
        -webkit-column-width: 16rem;
        -moz-column-width: 16rem;
        column-width: 16rem;
        -webkit-column-gap: 8rem;
        -moz-column-gap: 8rem;
        column-gap: 8rem;
    }

    .open-model {
        &__desc {
            padding-left: 1rem;
            margin-top: 0;
        }
    }
    .other-goods {
        &__text {
            padding: 1rem 0.9rem 1rem 1rem;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .our-goals {
        &__content {
            padding: 6rem 0;
        }
    }
}

@media only screen and (max-width: 1199.8px) {
    html {
        font-size: 16px;
    }
    .menu {
        &__item {
            &:first-child {
                margin-left: 2.4rem;
            }
            margin-right: 1.8rem;
        }
    }
    .first-screen-image {
        .slider-first-screen {
            .slick-dots {
                right: 2%;
            }
            .slick-counter {
                right: 5%;
            }
        }
    }
    .tabs-content {
        height: 400px;
    }
    .choose-door {
        &__block {
            height: 220px;
        }
        &__img {
            width: 230px;
        }
    }
    .suggestions {
        &__item {
            height: 26.6rem;
        }
    }
    .slider-video {
        &__item {
            height: 450px;
        }
    }
    .map {
        .contact {
            left: 2rem;
        }
    }

    .our-goals {
        &__content {
            padding: 4rem 0;
            >p {
                width: 85%;
            }
        }
    }
    
    .jq-selectbox {
        &__select {
            font-size: .9rem;
        }
        &__dropdown {
            font-size: .9rem;
        }
    }
    
    .filter {
        width: 90%;
        &__item_subitems {
            .number {
                font-size: .8rem;
            }
        }
    }
    
    .label-checkbox {
        padding-left: 1.8rem;
        font-size: 1rem;
    }
    
    .cards {
        width: 21.7%;
        padding: .8rem 1rem;
        &__color {
            li {
                width: 1.6rem;
                margin-right: .6rem;
            }
        }
        &.sortRow {
            .cards__img{
                width: 30%;
                height: 17rem;
                padding: 2rem 1.8rem;
            }
            .cards__desc{
                width: 70%;
                margin: 0 1rem;
            }
        }
    }
    
}

@media only screen and (max-width: 991.8px) {
    .mb-120 {
        margin-bottom: 3.5rem;
    }

    body.overflow {
        overflow: hidden;
    }
    .header {
        @include transition(.4s);
        .container {
            max-width: 100%;
            padding: 0;
            .row {
                margin: 0;
            }
        }
        &.bg-white {
            background-color: $white;
            height: 100vh;
            .header-menu {
                color: $black;
                .mobil-logo {
                    background: url(../image/logo-black.svg) no-repeat center center;
                    background-size: 96%;
                }
            }
            .group-box {
                .search-icon {
                    color: $black;
                }
            }
            .menu-btn {
                background: url(../icons/btn-menu-black.svg) no-repeat center center;
                background-size: 40px;
            }
        }
    }
    .menu-color-white {
        .header-menu {
            .mobil-logo {
                background: url(../image/logo.svg) no-repeat center center;
                background-size: 96%;
            }
        }
        .menu-btn {
            background: url(../icons/btn-menu.svg) no-repeat center center;
            background-size: 40px;
        }
        .sticky {
            .header-menu {
                .mobil-logo {
                    background: url(../image/logo-black.svg) no-repeat center center;
                    background-size: 96%;
                }
                .language {
                    li{
                        border: none;
                    }
                }    
            }
            .menu-btn {
                background: url(../icons/btn-menu-black.svg) no-repeat center center;
                background-size: 40px;
            }
        }
    }

    .header-menu {
        .mobil-logo {
            background: url(../image/logo-black.svg) no-repeat center center;
            background-size: 96%;
            display: block;
            width: 5.9rem;
            height: 3.4rem;
            margin-right: 0.7rem;
        }
        #language,
        .phone {
            display: none;
        }
    }
    .menu-btn {
        width: 30px;
        height: 30px;
        background: url(../icons/btn-menu-black.svg) no-repeat center center;
        background-size: 30px;
        margin-left: 20px;
        display: block;
    }
    .mobile-screen {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: $white;
        width: 100%;
        height: calc(100vh - 100px);
        overflow: auto;
        text-align: center;
        padding: 3rem 0;
        @include transition(transform .4s);
        @include transform(translateX(-120%));
        &.open {
            @include transform(translateX(0));
        }
        .menu {
            display: block;
            font-size: 1.3rem;
            color: $black;
            &__item {
                margin-right: 0;
                margin-bottom: 2.1rem;
                &_logo {
                    .logo {
                        display: none;
                    }
                }
                >span {
                    position: relative;
                }
                &_subMenu {
                    position: relative;
                    top: auto;
                    left: auto;
                    padding: 1.3rem 0 0 0;
                    width: 100%;
                    text-align: center;
                    box-shadow: none;
                    &::before {
                        content: '';
                        width: 40px;
                        border-top: 1px solid $gray;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        margin-left: -20px;
                    }
                    a {
                        color: $gray;
                        padding-left: 0;
                        &::after {
                            content: '';
                            border-bottom: none;
                            width: 0;
                        }
                        &:hover {
                            &::after {
                                width: 0;
                            }
                        }
                    }
                }
            }
        }
        &__phone,
        &__language,
        &__social-link {
            display: block;
        }
        &__phone {
            color: $black;
        }
        &__social-link {
            margin-top: 1.8rem;
        }
        &__language {
            margin-top: 1.4rem;
            font-size: 1rem;
            color: $black !important;
            display: inline-block !important;
            li {
                border: none;
            }
            &_sub {
                display: none;
                li {
                    background-color: transparent;
                    >a {
                        color: $black;
                    }
                }
            }
        }
    }
    .first-screen {
        height: 100vh;
    }
    .first-screen-image {
        .slider-first-screen {
            .slick-counter {
                bottom: 2rem;
                right: 5%;
            }
        }
    }
    .social-link__first-screen {
        display: none;
    }
    .index-collections {
        .info-box {
            &__item {
                width: 180px;
                height: 9rem;
                margin-bottom: 1.4rem;
            }
        }
        .info {
            padding-bottom: 3rem;
        }
    }
    .nav-tabs {
        font-size: 1rem;
        &__items {
            width: 2.3rem;
            height: 2.3rem;
            padding: 0.4rem 0;
        }
    }
    .select-collections__box {
        .btn-select-collections {
            height: 2.3rem;
            width: auto;
            padding: 0 6px;
            font-size: 0.9rem;
            >img {
                margin-right: 0.2rem;
            }
        }
    }
    .collections {
        position: relative;
        width: 100%;
        margin-top: 0px;
        &__info {
            padding: 1rem;
            width: 14rem;
        }
        &__info-title {
            font-size: 1.2rem;
        }
        &__info-color {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0 1.2rem;
            li {
                width: 1.4rem;
            }
        }
        &__info-btn {
            padding: 0.5rem 0;
        }
    }
    .tabs-content {
        height: 300px;
    }

    .text-tow-columns {
        -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem;
    }
    .choose-door {
        &__desc {
            >p {
                min-height: 12.5rem;
            }
        }
        &__block {
            height: 240px;
            padding: 1.4rem 2.8rem;
            >p {
                width: 56%;
                font-size: .8rem;
            }
        }
        &__img {
            position: absolute;
            bottom: 3px;
            right: 1.6rem;
        }
    }
    .suggestions {
        &__item {
            height: 20rem;
            >p {
                width: 80%;
            }
            >span {
                height: 1.4rem;
            }
        }
        &__title {
            font-size: 1.6rem;
        }
    }
    .additional-suggestions {
        &__title {
            font-size: 1.6rem;
            width: 100%;
        }
    }
    .slider-collection {
        padding-bottom: 5rem;
        &__block {
            height: 20rem;
        }
        &__desc {
            left: .8rem;
            bottom: 1.2rem;
        }
    }
    .slider-video {
        padding-bottom: 5rem;
        &__item {
            height: 350px;
        }
        &__btn {
            padding: .5rem 0;
        }
    }
    .footer-block {
        flex-direction: column;
        p {
            margin-top: 2.5rem;
            padding-left: 0;
        }
        .link-store {
            order: -1;
            margin-bottom: 2.5rem;
            li {
                display: inline-block;
                margin-left: 0.7rem;
            }
        }
    }

    .our-mission {
        &__text {
            margin-top: 1rem;
        }
    }

    .catalog {
        .line-top,
        .line-bottom{
            margin-bottom: 2rem;
        }
        .line-bottom {
            margin-bottom: 1.5rem;
        }
        &__sort {
            padding: 0 0.5rem;
            margin-bottom: 2rem;
            .select {
                .jq-selectbox {
                    margin-left: .5rem;
                }
            }
        }
    }

    .jq-selectbox {
        &__select {
            width: 180px;
        }
    }
    
    .filter {
        width: 100%;
    }
    
    .label-checkbox {
        padding-left: 1.6rem;
    }
    
    .cards {
        width: 45%;
        padding: .8rem 2rem;
        &__img{
            height: 10rem;
            >img {
                max-height: 100%;
            }
        }
        &__color {
            li {
                width: 1.4rem;
            }
        }
        &.sortRow {
            .cards__img{
                height: 14rem;
                padding: 1.5rem 1rem;
            }
            .cards__desc{
                margin: 0;
                margin-left: 1rem;
            }
        }
    }
    .catalog-desc {
        &__text{
            width: 100%;
        }
    }

    .open-model {
        &__desc {
            padding-left: 0;
        }
        &__group-info {
            flex-direction: column;
        }
        &__list {
            width: 100%;
            order: 1;
        }
    
        &__group-select {
            width: 14rem;
            min-width: 200px;
        }
    }

    .other-goods {
        &__cards {
            height: 8rem;
        }
        &__img{
            width: 8rem;
            min-width: 8rem;
            padding: 1rem;
        }
        &__text {
            padding: 0.8rem 0 0.8rem 1rem;
        }
    }

    .open-news {
        p {
            margin-bottom: 1rem;
        }
        &__date {
            font-size: .8rem;
        }
        &__img {
            margin: 3rem 0;
        }
        &__subtitle {
            margin-top: 3rem;
        }
    }

    .video {
        &__items {
            height: 12.8rem;
            margin-bottom: 3.5rem;
        }
    }
    
    
}

@media only screen and (max-width: 767.8px) {
    .index-collections {
        .info-box {
            &__item {
                width: 160px;
                margin-bottom: 1rem;
            }
        }
    }
    .nav-tabs {
        display: none;
        font-size: 1.2rem;
        &__items {
            width: 3.186rem;
            height: 3.2rem;
            padding: 0.6rem 0;
            border-right: 1px solid;
            float: left;
        }
    }
    .select-collections__box {
        flex-flow: column;
        .btn-select-collections {
            width: 100%;
            height: 3.5rem;
            padding: 0 15px;
            font-size: 1rem;
            border-right: 1px solid;
            >img {
                margin-right: 0.5rem;
            }
        }
    }
    .collections {
        position: relative;
        width: 100%;
        margin-top: 0px;
        &__info {
            padding: 1rem;
            width: 100%;
            position: relative;
        }
        &__info-title {
            font-size: 1.3rem;
            text-align: center
        }
        &__info-color {
            justify-content: center;
            margin: 1rem 0 1.2rem;
            li {
                width: 1.4rem;
                margin-right: 1rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__info-btn {
            padding: 0.5rem 0;
        }
    }
    .tabs-content {
        height: 430px;
    }

    .text-tow-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .choose-door {
        &__desc {
            >p {
                min-height: auto;
            }
        }
        &__block {
            padding: 1.4rem 2rem;
        }
        &__img {
            right: 1.4rem;
            width: 180px;
        }
    }
    .slider-collection {
        &__block {
            height: 18rem;
            margin-bottom: 20px;
        }
    }
    .map {
        .contact {
            left: 1rem;
        }
    }
    .footer-menu {
        flex-direction: column;
        font-size: 1.05rem;
        &__title {
            font-size: 1.3rem;
            font-weight: 400;
            padding-bottom: .5rem;
            margin-bottom: 0.5rem;
        }
        li>ul {
            display: none;
        }
    }

    .second-menu {
        &__menu {
            padding: 1rem 0;
            >.btn-border-black {
                width: 10rem;
            }
        }
        &::after {
            top: 4.9rem;
        }
    }

    .about-us{
        &__video {
            max-height: 22rem;
        }
    }

    .our-goals {
        &__content {
            width: 50%;
            padding: 4rem 0;
            border: 0.5px solid $black;
            &:last-of-type,
            &:nth-of-type(2),
            &:nth-of-type(4) {
                border-right: none;
            }
            &:first-of-type,
            &:nth-of-type(3),
            &:nth-of-type(5) {
                border-left: none;
            }
            &:nth-of-type(3) {
                border-right: .5px solid;
            }
            &:nth-of-type(4) {
                border-left: .5px solid;
            }
        }
    }

    .choose-language {
        &__menu {
            flex-direction: column;
            align-items: center;
            margin-bottom: 10%;
        }
        &__item {
            margin-right: 0;
            margin-bottom: 1px;
            >a {
                width: 13rem;
                height: 3.8rem;
            }
        }
    }

    .open-model {
        &__title {
            display: none;
        }
        &__title_mob-screen {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }
        &__group-info {
            align-items: center
        }   
        &__group-select {
            width: 290px;
        } 
    }

    .model-slider {
        width: 70%;
        min-width: 290px;
        margin: 0 auto;
        max-height: 100%;
    }

    .model-slider-nav {
        width: 60%;
        min-width: 270px;
        max-height: 100%;
        margin-bottom: 1rem;
    }
    
    .other-goods {
        &__cards {
            height: 9.5rem;
            align-items: center;
        }
        &__img{
            width: 10rem;
            min-width: 10rem;
        }
    }

    .article {
        margin-bottom: 4rem;
        &__img {
            margin-bottom: .8rem;
        }
        &__desc {
            font-size: 0.8rem;
            margin-bottom: .9rem;
        }
        &__link {
            font-size: .9rem;
        }
    }

    .box-news {
        width: 45%;
        margin-right: 9.9%;
        &::after {
            right: -11.1%;
        }
        &:nth-of-type(3n) {
            margin-right: 9.9%;
        }
        &:nth-of-type(2n) {
            margin-right: 0;
        }
        &:nth-of-type(3n)::after {
            display: block;
        }
        &:nth-of-type(2n)::after {
            display: none;
        }
    }

    .second-menu__two-link {
        > .btn-border-black{
            width: 12rem;
        }
    }

    .video {
        &__items {
            height: 10rem;
            margin-bottom: 3.5rem;
        }
    }

    .blog{
        &__search {
            margin-bottom: 3rem;
        }
    }

}

@media only screen and (max-width: 567.8px) {
    .mb-120 {
        margin-bottom: 2rem;
    }
    .slick-counter {
        display: none;
        .current,
        .total{
            display: none;
        }
    }
    .menu-btn {
        width: 20px;
        height: 20px;
        background-size: 20px !important;
    }
    .header-menu {
        .mobil-logo {
            margin-right: 0;
        }
    }
    .group-box {
        .search {
            input#search {
                &:focus,
                &:active {
                    width: 274px;
                }
            }
            &:hover {
                input#search {
                    width: 274px;
                }
            }
        }
    }
    .first-screen {
        &::after {
            height: 0;
            width: 0;
            border-left: none;
        }
    }
    .first-screen-text {
        &__title {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 15px;
        }
        .first-screen__btn {
            width: 100%;
        }
    }
    .choose-door {
        &__block {
            width: 100%;
            height: auto;
            border-image-repeat: round;
            padding: 37px 26px 0 26px;
            text-align: center;
            >p {
                width: 100%;
                font-size: .9rem;
            }
        }
        &__title {
            font-size: 1.5rem;
            width: 100%;
        }
        &__btn {
            width: 100%;
            padding: 0.67rem;
        }
        &__img {
            position: relative;
            bottom: 0;
            right: 0;
            width: 215px;
            margin-top: 50px;
            margin-bottom: 4px;
        }
    }
    .suggestions {
        flex-direction: column;
        &__item {
            width: 100%;
            height: 11.25rem;
            align-items: flex-start;
            text-align: left;
            padding-left: 20px;
            >span {
                display: none;
            }
            &:nth-child(2) {
                border: none;
            }
        }
        &__title {
            font-size: 1.5rem;
        }
        &__img-big {
            width: 100%;
        }
    }
    .additional-suggestions {
        &__title {
            font-size: 1.5rem;
        }
        &__nav-slider {
            display: flex;
            justify-content: center;
            margin-bottom: 2.6rem;
        }
        &__nav-slider_item {
            margin-right: 1rem;
        }
        &__slider-items {
            height: 13rem;
        }
    }
    .slider-collection {
        padding-bottom: 0;
    }
    .slider-video {
        padding-bottom: 4rem;
        &__item {
            height: 13rem;
        }
        &__btn {
            width: 13rem;
        }
    }
    .map {
        height: 100vh;
        .contact {
            padding: 1.6rem 1rem;
            width: 18.125rem;
            left: 50%;
            @include transform(translateX(-50%));
            top: auto;
            bottom: 1.4rem;
            h3 {
                font-size: 1.5rem;
            }
            &__list {
                font-size: .85rem;
                margin-left: 0;
            }
        }
    }
    .footer-block {
        p {
            text-align: center;
        }
    }

    .path-page {
        font-size: .85rem;
        padding: 1.4rem 0 1.8rem;
    }

    .second-menu {
        &__menu {
            flex-direction: column;
            margin-bottom: 1rem;
            >.btn-border-black {
                width: 100%;
            }
        }
        &::after {
            top: auto;
            bottom: 1rem;
        }
    }

    .about-us{
        &__video {
            max-height: 18rem;
        }
    }

    .slider-image {
        padding-bottom: 0;
    }
    .catalog {
        &__sort {
            padding: 0;
            border: none;
            width: 100%;
            .select {
                font-size: 1rem;
                width: 100%;
                .jq-selectbox {
                    margin-left: 0;
                    margin-top: 0.5rem;
                }
            }
        }
        &__group-btn {
            display: none !important;
        }
    }

    .jq-selectbox {
        width: 100%;
        &__select {
            width: 100%;
            padding: 0.7rem 1rem;
            border: 1px solid $black;
            font-size: 1rem;
        }
        &__dropdown {
            font-size: 1rem;
        }
        li {
            padding: .7rem 1rem;
        }
    }

    .catalog-collection {
        width: 100%;
        margin-bottom: 1rem;
        &__title {
            margin: 1.5rem 0 1rem;
        }
    }

    .cards {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
        padding: 1rem;
        &__img{
            min-height: auto;
            height: 15rem;
        }
        &__desc{
            >span{
                display: none;
            }
        }
        &__title{
            font-size: 1.2rem;
        }
        &__text{
            display: block;
            font-size: .9rem;
            height: 6.8rem;
            overflow: hidden;
        }
        &__box{
            display: block;

        }
        &__color {
            margin: 1.5rem 0;
            justify-content: center;
            li {
                width: 1.8rem;
                margin-right: .86rem;
            }
        }
        &__btn {
            width: 100%;
        }
    }
    .article {
        margin: 1rem 0 2rem;
    }

    .video {
        &__items {
            margin: 1rem 0 2.5rem;
        }
    }

    .blog{
        &__search {
            margin-bottom: 2rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    .video {
        &__items {
            width: 100%;
            height: 15rem;
            &::after {
                display: none;
            }
        }
    }
    .blog {
        &__post {
            width: 100%;
            &:nth-of-type(2n)::after {
                display: none;
            }
        }
    
    }
}
@media only screen and (max-width: 430px) {
    .our-goals {
        &__content {
            width: 90%;
            padding: 1rem 0;
            margin: 0 auto 1rem;
            &:last-of-type,
            &:nth-of-type(2),
            &:nth-of-type(4) {
                border-right: .5px solid;
            }
            &:first-of-type,
            &:nth-of-type(3),
            &:nth-of-type(5) {
                border-left: .5px solid;
            }
        }
    }
    .open-model {
        &__letter {
            min-width: 3.34rem;
        }
    }

    .other-goods {
        &__cards {
            height: 7rem;
        }
        &__img{
            width: 8rem;
            min-width: 8rem;
        }
    }

    .box-news {
        width: 100%;
        &::after {
            display: none;
        }   
       
    }

    .video {
        &__items {
            width: 100%;
            height: 13rem;
            margin-bottom: 3.5rem;
            &::after {
                display: none;
            }
        }
    }
}

@media only screen and (max-height: 550px) {
    // first screen
    .first-screen {
        height: 500px;
        padding-bottom: 1rem;
        &::after {
            height: 0;
            width: 0;
            border-left: none;
        }
    }
    .first-screen-image {
        .slider-first-screen {
            height: 100%;
            width: 100%;
            &__item {
                height: 500px;
            }
            .slick-dots {
                li {
                    margin: 1rem 0;
                    ;
                }
            }
        }
        .slick-counter {
            bottom: 1.6rem !important;
        }
    }
    .first-screen-text {
        margin-top: 4rem;
        &__title {
            font-size: 1.5rem;
        }
        .first-screen__btn {
            margin: 2rem auto 0;
            &::before {
                height: 0;
                border-left: none;
            }
        }
    } // first screen end

    .choose-language {
        &__menu {
            margin-bottom: 12%;
        }
        .logo {
            top: 4%;
        }
    }
}

@media only screen and (max-width:768px) and (min-width: 480px) and (orientation: landscape) {
    .choose-language {
        &__menu {
            flex-direction: row;
            align-items: center;
            margin-bottom: 5%;
        }
        &__item {
            margin-right: 1px;
            >a {
                height: 3.8rem;
                width: 6.5rem;
            }
        }
    }
}

@media (min-aspect-ratio: 16/9) {
    #video-section {
        >video {
            width: calc(100% + 8px) !important;
            height: auto !important;
        }
    }
}

@media (max-aspect-ratio: 16/9) {
    #video-section {
        >video {
            height: 100% !important;
            width: auto !important;
        }
    }
}