.index {
    >section {
        margin-bottom: 5.2rem;
    }
}

// first screen
.first-screen {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-bottom: 3.9rem;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 4.3rem;
        width: 4px;
        border-left: 1px solid $white;
        @include animate(height 2s ease infinite);       
    }
    .container {
        position: relative;
        .col-12 {
            position: static;
        }
    }
}
@keyframes height {
    0% {
        height: 1.4rem;
    }
    50% {
        height: 4.3rem;
    }
    100% {
        height: 1.4rem;
    }
}
.first-screen-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    .slider-first-screen {
        height: 100%;
        width: 100%;
        &__item {
            height: 100vh;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .5);
            }
        }
        .slick-dots {
            width: auto;
            bottom: 0;
            top: 50%;
            right: 7%;
            z-index: 100;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            @include transform(translate(-50%, -50%));
            li {
                width: 24px;
                height: 24px;
                @include border-radius(50%);
                @include transform(rotate(45deg));
                @include transition(border .4s);
                border: 2px solid $gray;
                margin: 1.9rem 0;
                display: block;
                position: relative;
                &::after{
                    content: '';
                    width: 13px;
                    height: 13px;
                    background-color: $gray;
                    @include border-radius(50%);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -6.5px 0 0 -6.5px;
                }
                &.slick-active {
                    @include animate(border-circle 3s linear infinite);
                    &::after {
                        background-color: $color-dots;                  
                    }
                }
            }
        }
        .slick-counter {
            color: $white;
            bottom: 3.9rem;
            right: 7%;
            .total {
                &::before {
                    border-bottom: 1px solid $white;
                }
            }
        }
        
    }
}
@keyframes border-circle {
    0% {
        border-top: 2px solid $color-dots;
    }
    25% {
        border-right: 2px solid $color-dots;
    }
    50% {
        border-bottom: 2px solid $color-dots;
    }
    100% {
        border-left: 2px solid;
        border-color: $color-dots;
    }
}

.first-screen-text {
    color: $white;
    text-align: center;
    margin-top: 8.3rem;
    position: relative;
    z-index: 2;
    &__title {
        font-size: 2.26rem;
        margin-bottom: 15px;
    }
    .first-screen__btn {
        width: 16rem;
        margin: 6.8rem auto 0;
        color: $white;
        font-size: 0.9rem;
        position: relative;
        padding: 0.6rem 0;
        &::before {
            content: '';
            position: absolute;
            top: -4.2rem;
            left: 50%;
            height: 40px;
            border-left: 1px solid $white;
        }
    }
}

.social-link__first-screen {
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 2;
}
// first screen end
.index-collections {
    .info-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__item {
            width: 245px;
            height: 8.6rem;
            background: url(../image/index/border-1.png) no-repeat center center / contain;
            text-align: center;
            padding-top: 40px;
            margin-bottom: 3rem;
            &:nth-child(2) {
                background: url(../image/index/border-2.png) no-repeat center center / contain;                
            }
            &:last-child {
                margin-right: 0;
                background: url(../image/index/border-3.png) no-repeat center center / contain;
            }
            h2 {
                font-size: 2.4rem;
            }
        }
    }
    .info {
        text-align: center;
        padding-bottom: 5.2rem;
    }
}

.nav-tabs {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-fm-second;
    display: inline-flex;
    border: none;
    &__items {
        width: 3.3rem;
        height: 3.3rem;
        text-align: center;
        padding: 0.6rem 0;
        border: 1px solid $gray;
        border-right: none;
        display: inline-block;
        cursor: pointer;
        @include transition(.3s);
        background-color: $white;
        &:last-child {
            border-right: 1px solid;
        }
        &:hover,
        &.active {
            background-color: $black;
            color: $white;
        }

    }
}
.select-collections__box {
    display: flex;
    position: relative;
    z-index: 1;
    .btn-select-collections {
        height: 3.3rem;
        width: 15.8rem;
        border: 1px solid $gray;
        border-right: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        >img {
            margin-right: 0.5rem;
        }
    }
}

.collections {
    position: relative;
    width: 100%;
    margin-top: -2px;
    &__image {
        width: 100%;
    }
    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        border: 1px solid $light-gray;
        padding: 1.5rem 1.5rem 2.1rem 1.5rem;
        background-color: $white;
        width: 15.8rem;
        &::before {
            content: '';
            height: 1.8rem;
            border-left: 1px solid $black;
            position: absolute;
            left: 50%;
            top: -.8rem;
        }
        >p {
            font-size: 0.8rem;
        }
    }
    &__info-title {
        font-size: 1.26rem;
        font-weight: 700;
    }
    &__info-color {
        display: flex;
        justify-content: space-between;
        margin: 1.3rem 0 1.4rem;
        li {
            width: 1.8rem;
        }
    }
    &__info-btn {
        width: 100%;
        padding: 0.78rem 0;
    }
}

.tabs-content {
    position: relative;
    height: 730px;
    overflow: hidden;
    &__info {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        &.active {
            display: block;
        }
    }
}

.choose-door {
    &__desc{
        webkit-column-width: 26rem;
        -moz-column-width: 26rem;
        column-width: 26rem;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 9rem;
        -moz-column-gap: 9rem;
        column-gap: 9rem;
        -webkit-column-rule: none;
        -moz-column-rule: none;
        column-rule: none;
        >p {
            min-height: 13.5rem;
        }
    }
    &__block {
        width: 100%;
        height: 308px;
        background-color: $light-gray;
        border-style: solid;
        border-image-width: 1rem;
        border-image-source: url(../image/index/border-img.png);
        border-image-slice: 30;
        border-image-repeat: round;
        padding: 2.2rem 6.2rem;
        position: relative;
        margin-top: 2.9rem;
        >p{
            width: 56%;
            font-size: .8rem;
        }
    }
    &__title {
        font-size: 1.4rem;
        width: 60%;
    }
    &__btn {
        width: 13rem;
        padding: 0.67rem;
    }
    &__img {
        position: absolute;
        bottom: 5px;
        right: 4.9rem;
    }
}

.suggestions {
    max-width: 1920px;
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    &__image-big {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__item {
        width: 33.3%;
        z-index: 1;
        height: 34.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: #BCBCBC;
        position: relative;
        @include transition( color .3s);
        background-size: cover !important;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, .5);
            z-index: 1;
        }
        &:hover {
            color: $white;
        }
        &:nth-child(2) {
            border-right: 1px solid #BCBCBC;
            border-left: 1px solid #BCBCBC;
        }
        &.hide {
            background: transparent !important;
        }
        >p {
            width: 60%;
            margin-bottom: 1.1rem;
            position: relative;
            z-index: 2;
        }
        >span {
            display: block;
            height: 1.8rem;
            border-left: 1px solid;
            position: relative;
            z-index: 2;
        }
    }
    &__title {
        font-size: 1.9rem;
        margin-bottom: 10px;
        font-weight: 400;
        z-index: 2;
        position: relative;
    }
    &__img-big {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 99.9%;
        height: 100%;
        // @include transition(opacity .6s ease);
        &.active {
            opacity: 1;
        }
    }
}

.additional-suggestions {
    p > span {
        font-weight: 500;
    }
    &__title {
        font-size: 1.9rem;
        font-weight: 400;
        margin-bottom: 1rem;
        width: 85%;
    }
    &__nav-slider {
        margin-top: 3rem;
    }
    &__nav-slider_item {
        max-width: 3.3rem;
        width: 3.3rem;
        height: 3.3rem;
        border: 1px solid $black;
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        margin-right: 1.4rem;
        cursor: pointer;
        &.slick-current {
            background-color: $black;
            >svg {
                fill: $white;
            }
        }
    }
    &__slider-items {
        width: 100%;
        height: 25rem;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}

.slider-collection {
    padding-bottom: 5.2em;
    &__block {
        width: 100%;
        height: 25rem;
        position: relative;
        display: block;
    }
    &__desc {
        position: absolute;
        left: 2rem;
        bottom: 2rem;
        color: $white;
        font-size: 0.85rem;
        h3 {
            font-size: 1.2rem;
        }
        >p {
            margin: 0;
        }
    }
}

.slider-video {
    padding-bottom: 5.2rem;
    &__item{
        width: 100%;
        height: 80vh;
        >iframe {
            width: 100%;
            height: 100%;
        }
    }
    &__btn {
        width: 13.4rem;
        padding: .7rem 0;
        position: absolute;
        left: 15px;
        bottom: 0;
    }
}

.map {
    width: 100%;
    max-width: 1920px;
    height: 24rem;
    margin: 0 auto;
    position: relative;
    background-color: #ccc;
    #map {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .contact {
        width: auto;
        padding: 1.9rem 2rem 1.9rem 1rem;
        background-color: $white;
        position: absolute;
        left: 10rem;
        top: 5.2rem;
        z-index: 2;
        &::before {
            content: '';
            height: 1.8rem;
            border-left: 1px solid $black;
            position: absolute;
            left: 50%;
            top: -.8rem;
        }
        h3 {
            font-size: 1.29rem;
            margin-bottom: 0.9rem;
        }
        &__list {
            font-size: .82rem;
            font-weight: 400;
            margin-left: 1rem;
            p {
                display: inline-block;
                margin: 0;
            }
            img {
                margin-right: 0.6rem;
            }
            li {
                margin-bottom: 1.4rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}