.news-content {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.box-news {
    position: relative;
    width: 27.33%;
    margin-bottom: 4.3rem;
    &::after {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -16.5%;
        border-right: 1px solid $light-gray;
    }
    &:nth-of-type(3n)::after {
        display: none;
    }
    &__img {
        width: 100%;
        overflow: hidden;
        margin-bottom: 1.08rem;
        align-items: center;
        justify-content: center;
        &:hover {
            img {
                @include transform(scale(1.08));
            }
        }
    }
    &__title {
        font-size: 0.91rem;
        margin-bottom: 0.4rem;
    }
    &__desc {
        font-size: 0.74rem;
        margin-bottom: 1.08rem;
        height: 7.1rem;
        overflow: hidden;
        p {
            margin: 0;
        }
    }
    &__link {
        color: $black;
        font-size: .7rem;
        &:hover {
            text-decoration: underline;
        }
    }
}

.open-news {
    p {
        margin-bottom: 1.4rem;
    }
    &__date {
        font-size: .74rem;
        color: $color-footer-text;
        margin-bottom: 1rem;
    }
    &__img {
        width: 100%;
        margin: 5.2rem 0;
    }
    &__subtitle {
        font-size: 1.26rem;
        margin-top: 5.2rem;
    }
    &__list {
        li {
            line-height: 1.6rem;
            padding-left: 0.6rem;
            position: relative;
            &::after {
                content: '.';
                position: absolute;
                left: 0;
                top: 0;
                line-height: 1.1rem;
            }
        }
    }
}